#form-tao-moi{
  background: rgba(28, 97, 61, 0.38);
  padding: 20px;

}
h2{
  color: blue;
}
.col-4 label{
  color: aliceblue;
  font-family: "Cambria";
  font-size: 20px;

}
p{
  font-size: 18px;

}

