
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">CRUD</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="products/products-list">Products</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="users/users-list">Users List</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
