<fis-search-form [title]="title" (search)="onSeach($event)"></fis-search-form>
<div class="row justify-content-center">
    <div class="col-2">
        <nav class="d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h5 class="text-center sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Quản Lý Danh Mục</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            User <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                </ul>

                <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span class="text-center">Thống Kê</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h5>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-8">
        <table class="table table-bordered table-dark" id="tb-users">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of (listUser$ | async)">
                <th scope="row">
                    {{user.id}}
                </th>
                <td>

                    {{user.name}}

                </td>
                <td>{{user.price}}</td>
                <td>{{user.quantity}}</td>
                <td>
                    <a [routerLink]="['/users', user.id]">
                        <h4 class="btn btn-warning btn-block">Sửa</h4>
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/users/delete', user.id]">
                        <h4 class="btn btn-danger btn-block">Xóa</h4>
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

